*{
    border: 0;
    margin: 0;

}
/* Navbar Section  */

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  
.navbar-nav  li a:hover {
    color: #1abc9c !important;
  }

/* About me section  */
.aboutus-section {
  padding: 90px 0;
}
.aboutus-title {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  margin: 0 0 39px;
  padding: 0 0 11px;
  position: relative;
  text-transform: uppercase;
  color: #000;
}
.aboutus-title::after {
  background: #363636 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 54px;
}
.aboutus-text {
  color: #606060;
  font-size: 13px;
  line-height: 22px;
  margin: 0 0 35px;
}

a:hover, a:active {
  color: #363636;
  text-decoration: none;
  outline: 0;
}
.aboutus-more {
  border: 1px solid #363636;
  border-radius: 25px;
  color: #363636;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  padding: 7px 20px;
  text-transform: uppercase;
}
.feature .feature-box .iconset {
  background: #fff none repeat scroll 0 0;
  float: left;
  position: relative;
  width: 18%;
}
.feature .feature-box .iconset::after {
  background: #363636 none repeat scroll 0 0;
  content: "";
  height: 150%;
  left: 43%;
  position: absolute;
  top: 100%;
  width: 1px;
}

.feature .feature-box .feature-content h4 {
  color: #0f0f0f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 5px;
}


.feature .feature-box .feature-content {
  float: left;
  padding-left: 28px;
  width: 78%;
}
.feature .feature-box .feature-content h4 {
  color: #0f0f0f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
  color: #606060;
  font-size: 13px;
  line-height: 22px;
}
.icon {
  color : #2f2f2f;
  padding:0px;
  font-size:40px;
  border: 1px solid #2f2f2f;
  border-radius: 100px;
  color: #2f2f2f;
  font-size: 28px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 70px;
}

