*{
    border: 0;
    margin: 0;

}
/* Navbar Section  */

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  
.navbar-nav  li a:hover {
    color: #1abc9c !important;
  }

  /* Recommendations Section  */

  .row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
    border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}


.our-webcoderskull{
  /* background: url("http://www.webcoderskull.com/img/right-sider-banner.png") no-repeat center top / cover; */
    background-color: white;
}
.our-webcoderskull .cnt-block{ 
   float:left; 
   width:100%; 
   background:#f2f5f5; 
   /* padding:30px 20px;  */
   padding: 0px 20px 0px 20px;
   text-align:center; 
   border:3px solid #d5d5d5;
   border-radius: 20px;
   margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
	color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}



/* Footer section below
Footer section below
Footer section below */

.ft-copyright {
  background-color: #000a1f;
  border-top: 2px solid #908e9b;
  display: flex;
}

.pb-2,
.py-2 {
  padding-bottom: .5rem !important;
  padding-top: .5rem !important;
}

.footer-top {
  background-color: #bbe1f8;
  border-bottom: 2px solid #908e9b;
}

.text-center {
  text-align: center !important;
}

h4.ft-text-title {
  color: #908e9b;
  margin: 20px 0 10px;
  font-weight: 700;
  text-align: center;
}

h4 {
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  font-size: 1.3em;
}

h6.ft-desp {
  color: #fff;
  padding: 2px;
}

h6 {
  font-size: 15px;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1.heading-title a{
  color: #fff !important;
  text-decoration: none;
}
h1 {
  font-size: 22px;
  font-weight: 800;
  line-height: 1.4;
  color: #000;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}
a.contact,
a.mail {
  border: 1px solid #908e9b;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #f5f6f7;
  padding: 5px;
  font-size: 15px;
  text-decoration: none;
}

a.contact:hover,
a.mail:hover {
  background: #900;
}

i.fa-phone,
i.fa-envelope-o {
  padding: 3px;
}

i.fa-envelope-o {
  padding: 4px;
}

.border-left {
  border-left: dotted #ddd 1px;
}

.pspt-dtls {
  margin-top: 20px !important;
}

.pspt-dtls a {
  margin: 8px !important;
}

a.about,
a.team,
a.advertise {
  padding: 8px;
  border: 1px #908e9b solid;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  color: #FFF;
  text-decoration: none;
  font-size: 15px;
}

a.about:hover,
a.team:hover,
a.advertise:hover {
  background: #900;
}

footer p {
  color: #fff;
  margin-bottom: 10px;
}

.text-pp-crt,
.text-pp-crt-rg {
  color: #363636;
}

.developer {
  text-align: center;
}
  p.member{
      color:#FFF;
  }
i.develop {
  border: 1px red dotted;
}

.developer b {
  color: #908e9b;
}




/* Phone friendly  */

@media all and (min-width: 1001px) {
  #sidebar ul li a:after {
    content: " (" attr(data-email) ")";
    font-size: 11px;
    font-style: italic;
    color: #666;
  }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
  #sidebar ul li a:before {
    content: "Email: ";
    font-style: italic;
    color: #666;
  }
}

@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
  #sidebar ul li a {
    padding-left: 21px;
    background: url(../images/email.png) left center no-repeat;
  }
}