*{
    border: 0;
    margin: 0;

}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    /* background-color: #1abc9c; Green */
    background-color: #f5f6f7;
    color: #363636;
  }
  .bg-2 { 
    /* background-color: #474e5d; Dark Blue */
    background-color: #f5f5f5;
    color: #ffffff;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }

/* This is the projects section
This is the projects section
This is the projects section */

h1
{
	color:#363636;
}

.our-team-main
{
	width:100%;
	height:auto;
	border-bottom:5px #323233 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	/* margin-bottom:28px; */
}


.our-team-main img
{
	border-radius:50%;
	/* margin-bottom:20px; */
	width: 90px;
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
}

.our-team-main p
{
	margin-bottom:0;
}

.team-back
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	/* padding:5px 15px 0 15px; */
	text-align:left;
	background:#fff;
	
}

.team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	/* padding:15px; */
	bottom:0px;
	transition: all 0.5s ease;
}

.our-team-main:hover .team-front
{
	bottom:-350px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#777;
	transition:0.5s;
}

/*our-team-main*/

/* Footer section below
Footer section below
Footer section below */

.ft-copyright {
  background-color: #000a1f;
  border-top: 2px solid #908e9b;
  display: flex;
}

.pb-2,
.py-2 {
  padding-bottom: .5rem !important;
  padding-top: .5rem !important;
}

.footer-top {
  background-color: #bbe1f8;
  border-bottom: 2px solid #908e9b;
  height: 300px;
}

.text-center {
  text-align: center !important;
}

h4.ft-text-title {
  color: #908e9b;
  margin: 20px 0 10px;
  font-weight: 700;
  text-align: center;
}

h4 {
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  font-size: 1.3em;
}

h6.ft-desp {
  color: #fff;
  padding: 2px;
}

h6 {
  font-size: 15px;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1.heading-title a{
  color: #fff !important;
  text-decoration: none;
}
h1 {
  font-size: 22px;
  font-weight: 800;
  line-height: 1.4;
  color: #000;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}
a.contact,
a.mail {
  border: 1px solid #908e9b;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #f5f6f7;
  padding: 5px;
  font-size: 15px;
  text-decoration: none;
}

a.contact:hover,
a.mail:hover {
  background: #900;
}

i.fa-phone,
i.fa-envelope-o {
  padding: 3px;
}

i.fa-envelope-o {
  padding: 4px;
}

.border-left {
  border-left: dotted #ddd 1px;
}

.pspt-dtls {
  margin-top: 20px !important;
}

.pspt-dtls a {
  margin: 8px !important;
}

a.about,
a.team,
a.advertise {
  padding: 8px;
  border: 1px #908e9b solid;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  color: #FFF;
  text-decoration: none;
  font-size: 15px;
}

a.about:hover,
a.team:hover,
a.advertise:hover {
  background: #900;
}

footer p {
  color: #fff;
  margin-bottom: 10px;
}

.text-pp-crt,
.text-pp-crt-rg {
  color: #363636;
}

.developer {
  text-align: center;
}
  p.member{
      color:#FFF;
  }
i.develop {
  border: 1px red dotted;
}

.developer b {
  color: #908e9b;
}




/* Phone friendly  */

@media all and (min-width: 1001px) {
  #sidebar ul li a:after {
    content: " (" attr(data-email) ")";
    font-size: 11px;
    font-style: italic;
    color: #666;
  }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
  #sidebar ul li a:before {
    content: "Email: ";
    font-style: italic;
    color: #666;
  }
}

@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
  #sidebar ul li a {
    padding-left: 21px;
    background: url(../images/email.png) left center no-repeat;
  }
}